.modal-content {
  max-width: 31.25rem;
}

.bg-dark {
  background-color: #343a40 !important;
}

.text-end .btn-primary {
  font-size: 1.25rem;
  padding: 0.625rem 1.25rem;
}

.form-label i {
  margin-right: 0.5rem;
}

input.form-control {
  font-size: 1.25rem;
}

input.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}
