<div class="join-page-container d-flex justify-content-center align-items-center">
  <div class="modal-content p-4">
    <h2 class="text-center mb-4">Join a Chat Room</h2>
    <form (ngSubmit)="joinRoom()">
      <div class="input-group mb-3">
        <span class="input-group-text">
          <i class="bi bi-door-open-fill"></i>
        </span>
        <input type="text" id="roomName" class="form-control" [(ngModel)]="roomName" name="roomName" placeholder="Enter room name" />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">
          <i class="bi bi-person-fill"></i>
        </span>
        <input type="text" id="userName" class="form-control" [(ngModel)]="userName" name="userName" placeholder="Enter your username" />
      </div>
      <div class="text-end">
        <button type="submit" class="btn btn-primary" [disabled]="!userName || !roomName">Join</button>
      </div>
    </form>
  </div>
</div>
