/* Ustawienie tła i pełnej wysokości */
.join-page-container {
  background-color: #343a40; /* ciemnoszary kolor */
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

/* Stylizacja modala */
.modal-content {
  background-color: #fff; /* biały kolor dla modala */
  color: #000; /* czarny tekst */
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  max-width: 500px; /* zwiększ szerokość modala */
  width: 100%;
  padding: 30px; /* zwiększ padding */
}

/* Nagłówek */
h2 {
  font-size: 2rem; /* zwiększ rozmiar nagłówka */
}

/* Stylizacja inputów */
.input-group-text {
  background-color: #fff;
  border: 1px solid #ced4da; /* szary border */
  font-size: 1.5rem; /* zwiększ rozmiar ikon */
  padding: 10px 12px; /* zwiększ padding */
}

.form-control {
  border: 1px solid #ced4da; /* szary border */
  font-size: 1.25rem; /* zwiększ rozmiar tekstu w inputach */
  padding: 10px 15px; /* zwiększ padding */
  transition: border-color 0.3s ease;
}

.form-control:focus {
  border-color: #000; /* czarny border na focus */
  box-shadow: none; /* usuń niebieską poświatę */
}

/* Stylizacja przycisku */
.btn-primary {
  background-color: #007bff;
  border: none;
  font-size: 1.25rem; /* zwiększ rozmiar tekstu w przycisku */
  padding: 10px 20px; /* zwiększ padding przycisku */
}

.btn-primary:hover {
  background-color: #0056b3;
}
