<div class="d-flex flex-column flex-fill overflow-auto p-3">
  <div class="d-flex flex-column flex-grow-1 message-container">
    <ng-container *ngIf="messages.length > 0; else noMessages">
      <div *ngFor="let message of messages" [ngClass]="{
                        'my-message': message.user === user,
                        'other-message': message.user !== user && message.user !== 'MyChat Bot',
                        'bot-message': message.user === 'MyChat Bot'
      }">
        <div *ngIf="message.user !== 'MyChat Bot'" class="message-user">{{ message.user }}</div>
        <div class="message-bubble" *ngIf="message.user !== 'MyChat Bot'">{{ message.message }}</div>
        <div class="bot-message" *ngIf="message.user === 'MyChat Bot'">{{ message.message }}</div>
      </div>
    </ng-container>
    <ng-template #noMessages>
      <div class="text-muted text-center">No messages yet</div>
    </ng-template>
  </div>
</div>
